{% extends 'layout/master.twig' %}
{% block title %}Pyry Calculation Test{% endblock %}
{% block content %}
	<div class="container main">
		<div class="row">
		{% for method in cal_array %}
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      	<img src="img/{{ method }}.png" class="center" alt="plus math test" />
		      	<hr>
		      	<div class="thumb-info">
			        <h2 class="text-center">{{ method }}</h2>
			        <p><a href="{{ path_for('navbar', { 'cal' : method, 'level': 'easy' }) }}" class="btn btn-info" role="button" target="_blank">
						Easy <span class="badge">1-9</a></p>
					<p><a href="{{ path_for('navbar', { 'cal' : method, 'level': 'medium' }) }}" class="btn btn-success" role="button" target="_blank">
						Medium <span class="badge">1-99</span>
					</a></p>
					<p><a href="{{ path_for('navbar', { 'cal' : method, 'level': 'hard' }) }}" class="btn btn-danger" role="button" target="_blank">
						Hard <span class="badge">1-999</span>
					</a></p>
		    	</div>
		    </div>
		  </div>
		{% endfor %}
	</div>
</body>
{% endblock %}