{% extends 'layout/master.twig' %}
{% block title %}{{ cal|upper }} | {{ level|upper }} - Pyry Calculation Test{% endblock %}
{% block content %}
	<div class="container">
		<div class="card text-center">
		  	<div class="card-header">
		  		<h1 class="cal">{{ cal|upper }}</h6>
		  		<h4 class="card-subtitle mb-2 text-muted">
		  			Level: 
		  			<a href="{{ path_for('navbar', { 'cal' : cal, 'level': 'easy' }) }}" class="tab tab0">Easy</a> | 
		  			{% if cal != "division" %}
		  				<a href="{{ path_for('navbar', { 'cal' : cal, 'level': 'medium' }) }}" class="tab tab1">Medium</a> | 
					    <a href="{{ path_for('navbar', { 'cal' : cal, 'level': 'hard' }) }}" class="tab tab2">Hard</a>

					{% elseif cal == "division" %}
		  				<a href="{{ path_for('navbar', { 'cal' : cal, 'level': 'medium' }) }}" class="tab tab1">Medium</a>
					{% endif %}
		  		</h6>
		  		<input type="hide" class="hide level" value="{{ level }}">
	 		</div>
			<div class="card-block">
				<p class="card-text">Fill in the fields with your answers, then click CHECK to see if they are correct.<br />
					You can change the questions by clicking NEW.<br />
					Solutions are not provided, but you can change the answers and check again as many times as you want.</p>
				<button id="check" class="btn btn-large btn-success"><i class="fas fa-check"></i> CHECK</button> 
 			 	<button id="new" class="btn btn-large btn-info"><i class="fas fa-plus"></i> NEW</button>
 			 	<button id="home" class="btn tbn-large btn-danger"><i class="fas fa-home"></i> HOME</button>
		   		<ul id="cal-list" class="list-group list-group-flush center">
					  <li class="list-group-item"></li>
					  <li class="list-group-item"></li>
					  <li class="list-group-item"></li>
					  <li class="list-group-item"></li>
					  <li class="list-group-item"></li>
				</ul>
			</div>
			<div class="card-footer text-muted">
				<a href="{{ path_for('navbar', { 'cal' : 'plus', 'level': 'easy' }) }}" class="tab tab3">PLUS</a> | 
				<a href="{{ path_for('navbar', { 'cal' : 'minus', 'level': 'easy' }) }}" class="tab tab4">MINUS</a> | 
				<a href="{{ path_for('navbar', { 'cal' : 'multiply', 'level': 'easy' }) }}" class="tab tab5">MULTIPLY</a> |
				<a href="{{ path_for('navbar', { 'cal' : 'division', 'level': 'easy' }) }}" class="tab tab6">DIVISION</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script src="{{ base_url() }}/js/first.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script type="text/javascript">
		$("#home").click(function() {
			window.location.href = "{{ base_url() }}";
		});
	</script>
{% endblock %}